@import '~antd/dist/antd.css';

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #4f02b1 !important;
  border-left: 3px solid #0fffd7;
}

.ant-layout {
  background: white;
}

.ant-btn-background-ghost {
  color: #ff470f;
  background: transparent !important;
  border-color: #ff470f;
}

.edit-but {
  color: #ff9f0f;
  background: transparent !important;
  border-color: #ff9f0f;
}
